
.select-form {
	font-style: italic;
	max-width: 100%;
	width: 100%;
	font-size: $font-size;
	color: $cor-txt-claro;
	font-weight: $regular;
	line-height: $height_input;
	background-color: transparent;
	font-style: normal;
	border: 1px solid $cor-border;
	border-radius: 4px;
	margin-top: 6.5px;	
	@include box-sizing();

	label {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: inline-block;
		cursor: pointer;

		span {
			font-size: 16px;
			font-family: $font-titulo;
			color: $cor-txt;
			line-height: 26px;
			padding: 0 7px;
			position: absolute;
			transform: translate(13px,-50%);
			background: #ffffff;
			font-weight: $medium;
		}
	}

	select {
		width: 100%;
		padding: 0px 20px;
		position: relative;
		z-index: 0;
		cursor: pointer;
		line-height: $height_input;
		overflow: hidden;
		border-radius: 4px;
		background-color: transparent;
		@include box-sizing();


		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';

		&:disabled {
			opacity: 0;
		}
	}

	&:after {
		content: '';
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		z-index: 10;
		width: 10px;
		height: 8px;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8L0.669873 0.499999L9.33013 0.5L5 8Z' fill='%233D3D4C'/%3E%3C/svg%3E%0A");
	}

	&.disabled {
		opacity: .5;
	}
}


/*
.select-multiple {
	margin-bottom: 30px;
	span {
		select {
			display: none;
		}
	}

	.itens-multiple {
		width: 100%;
		display: block;

		li {
			display: inline-block;
			line-height: 37px;
			padding: 0 23px;
			border: 1px solid rgba($border,.3);
			border-radius: $border-radius;
			margin: 4px;
			cursor: pointer;
			@include animacao;

			span {
				text-transform: uppercase;
				font-size: $font-size;
				color: $cor-txt;
				line-height: $line-height;
				font-weight: $medium;
				@include animacao;
			}

			&:hover {
				background-color: $bg-default;
			}

			&.active {
				background-color: rgba($cor1, .1);
				border-color: transparent;

				span {
					color: $cor1;
				}
			}
		}
	}
}
*/