.tag-label {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;

	li {
		border: 1px solid $cor-border;
		border-radius: 4px;
		padding: 0 13px;
		margin: 1px 5px;
		font-size: 12px;
		line-height: 22px;
		color: $cor1;
		font-weight: $medium;
		@include box-sizing;
	}
}

.carrinho {
	.tag-label {
		@include media(900) {
			margin: 13px 0 0 0;
			flex-direction: column;

			li {
				color: $cor-txt-claro2;
				border: none;
				padding: 0;
				margin: 0;
				font-size: 10px;
				line-height: 13px;
			}
		}
	}
}