
body {
	overflow-x: hidden;
	font-size: 100%;
	font-family: $font-family;
	font-weight: $regular;

	@include media{
		padding-bottom: 43px;
	}

	&:not(.home) {
		//padding-top: 142px;
	}

	&.no-padding-top {
		padding-top: 0;
	}
}

.container {
	max-width: $width; 
	width: 100%;
	height: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;

	@include media(900){
		padding: 0 $padding-container-mobile;
	}

	@include media(350){
		padding: 0 10px;
	}
}

.bg-default {
	position: relative;

	&:after, &:before {
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background-repeat: repeat-y;
		background-size: contain;
	}

	&:before {
		right: 0;
		top: 0;
		background-position: top right;
		z-index: 0;
	}
	
	&:after {
		left: 0;
		bottom: 0;
		background-position: top left;
		z-index: 1;
	}

	&.bg-style-1 {
		&:before {
			background-image: url('../img/bg-right.png'); 
		}
		
		&:after {
			background-image: url('../img/bg-left.png');
		}
	}

	.box-section {
		z-index: 2;
	}
}

.box-section {
	width: 100%;
	position: relative;
	padding: $padding-section 0;
	z-index: 0;
	@include box-sizing;
	@include clear;

	&.no-mobile {
		@include media {
			display: none;
		}
	}

	&.no-padding {
		padding: 0px;
	}

	&.no-padding-top {
		padding-top: 0px;
	}

	&.no-padding-bottom {
		padding-bottom: 0px;
	}

	&.box-height-full {
		height: 100vh;
	}

	.header-section {
		margin-bottom: 28px;
		display: flex;
		align-items: center;
	}

	&--home {
		min-height: 120px;
	}

	&--image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&--header-page {
		min-height: 400px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 100px 0 0;
		background-color: mix(#000000, #ffffff, 25%);
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			height: 30%;
			width: 100%;
			@include gradiente(180,#000000,rgba(#000000, 0%));
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
			height: 30%;
			width: 100%;
			@include gradiente(180,rgba(#000000, 0%),rgba(#000000, 60%));
		}

		.container {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;

			@include media(){
				
				align-items: flex-start;
			}
		}

		h1, span, p {
			display: block;
			width: 100%;
			text-align: center;
			color: #ffffff;
		}

		h1 {
			text-align: center;
			font-size: 48px;
			line-height: 54px;
			font-weight: $medium;
		}

		p {
			font-size: 18px;
			font-weight: $light;
			line-height: 22px;
			margin: 20px 0 0;
		}

		.subtitulo {
			font-size: 26px;
			font-weight: $light;
			margin-bottom: 5px;
		}
	}

	&--header-category {
		min-height: 0;
		background-color: $cor1;
		align-items: flex-start;
		padding: 30px 0;
		margin-top: 140px;

		h1 {
			width: auto;
			padding-right: 60px;
			white-space: nowrap;
		}

		p {
			margin: 0;
			text-align: left;
		}

		&:before, &:after {
			display: none;
		}

		@include media(){
			min-height: 0;
		}

		.container {
			align-items: center;
			flex-direction: row;

			@include media(){
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}


	&--header-page-padrao {
		//min-height: 573px;
		align-items: center;
		padding: 100px 0 30px;

		.container {
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			height: 270px;

			@include media(){
				align-items: flex-end;
			}
		}

		.titulos {
			flex: 0 0 100%;
		}

		.breadcrumb {
			flex: 0 0 100%;
			margin: 0!important;
			position: absolute;
			bottom: 0;
			right: 30px;

			@include media {
				position: relative;
			}

			li {
				span, a, &:after {
					color: #ffffff!important;
				}
			}
		}
	}

	&--header-single-solucoes {
		min-height: 573px;
		align-items: flex-end;
		padding: 0px 0 30px;

		@include media(){
			min-height: 400px;
		}

		h1, span {
			text-align: left;
		}

		h1 {
			margin-bottom: 60px;
		}

		.container {
			align-items: flex-end;
			flex-direction: row;

			@include media(){
				align-items: flex-end;
			}
		}

		.breadcrumb {
			margin: 0 0 0 auto!important;

			li {
				span, a, &:after {
					color: #ffffff!important;
				}
			}
		}
	}

	&--header-single {
		min-height: 573px;
		align-items: flex-end;
		padding: 0px 0 30px;

		@include media(){
			min-height: 400px;
		}

		.container {
			align-items: flex-end;

			@include media(){
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	&--blocos-conteudo {
		position: relative;

		@include media {
			padding-top: 0;
		}
		
		.container {
			min-height: 300px;
			display: flex;
			align-items: center;

			@include media {
				min-height: 0;
				padding-top: 30px;
			}
		}

		.img-blocos-conteudo {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			object-fit: cover;
			object-position: center;

			&:not(.imagem-esquerda) {
				right: 0;
			}

			&.imagem-esquerda {
				left: 0;
			}

			@include media {
				position: relative;
				width: calc(100% - 30px);
				height: auto;
				margin: 0 auto;
				display: block;
			}
		}

		.col-6 {
			&:not(.txt-esquerda) {
				padding-right: 60px;
			}

			&.txt-esquerda {
				padding-left: 60px;
			}

			@include media {
				padding: 0!important;
				text-align: center;
			}
		}
	}

	&--solicitar-apresentacao {
		position: relative;
		
		.container {
			//min-height: 300px;
			//display: flex;
			//align-items: center;

			@include media {
				min-height: 0;
				//padding-top: 30px;
			}
		}

		&:before {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			right: 0;
			z-index: 2;
			opacity: .75;
			@include gradiente3(90,$cor2,$cor1,$cor1);

			@include media {
				width: 100%;
			}
		}

		.bg-solicitar-apresentacao {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			object-fit: cover;
			object-position: center;
			right: 0;
			z-index: 0;

			@include media {
				width: 100%;
			}
		}

		.img-solicitar-apresentacao {
			position: absolute;
			top: 0;
			height: 100%;
			width: 50%;
			object-fit: cover;
			object-position: center;
			left: 0;

			@include media {
				position: relative;
				width: calc(100% - 30px);
				height: auto;
				margin: 0 auto;
				display: none;
			}
		}

		.col-6 {
			position: relative;
			z-index: 3;
		}
	}

	&.box-section-content-txt {
		padding: 100px 0;
		
		@include media(){
			padding: 50px 0;
		}
		.row {
			//align-items: center;
		}

		.img-principal {
			width: 100%;

			@include media(){
				margin-top: 30px;
			}
		}
	}

	&.box-section-tab {
		@include media(){
			padding: 50px 0;
		}
		.container {
			@include media(){
				padding: 0;
			}
		}
		.row {
			//align-items: center;
			@include media(){
				margin: 0;
			}
		}
		.col-9 {
			padding: 25px 0 25px 25px;
			@include media(){
				padding: 0;
			}
		}
		.col-3, .col-4 {
			@include media(){
				padding: 0;
			}
		}
		.btn-tab {
			//height: 100%;
			width: auto;
			background-color: #dfebf6;
			padding: 25px 25px 25px 55px;
			border-radius: 0 20px 20px 0;
			margin-left: -$padding-container;
			margin-top: 0!important;
			@include box-sizing;

			@include media(){
				display: block;
				//flex-wrap: wrap;
				margin: 0px;
				border-radius: 0;
				padding: 0;
			}

			@include media(900){
				//margin: 0 -$padding-container-mobile;
				padding: $padding-container-mobile;
			}

			li {
				@include animacao-off;
				a {
					cursor: pointer;
					@include animacao-off;
				}

				@include media(){
					//flex: 0 0 50%;
				}
			}
		}

		.content-tab {
			display: none;

			&:first-child {
				display: block;
			}

			@include media(){
				.content-txt {
					padding: 50px 15px 15px;
				}
			}
		}

		h2 {
			display: block;
			text-align: center;
			font-size: 52px;
			line-height: 52px;
			margin-bottom: 40px;
		}

		p {
			font-size: 15px;
			line-height: 19px;
		}

		img {
			width: 100%;

			@include media(){
				margin-top: 20px;
			}
		}
	}

	&.box-section-faq {
		background-image: url(../img/bg-page-1.jpg);
		background-position: top left;
		background-repeat: no-repeat;

		h2 {
			display: block;
			text-align: center;
			font-size: 52px;
			line-height: 52px;
			margin-bottom: 40px;

			@include media {
				font-size: 35px;
				line-height: 35px;
			}
		}
		.faq {
			width: 100%;
			max-width: 980px;
			margin: 0 auto;

			li {
				border: 1px solid $cor1;
				border-radius: 20px;
				background-color: #ffffff;
				margin-top: 20px;
				overflow: hidden;

				h3 {
					min-height: 55px;
					background-color: #ffffff;
					padding: 15px;
					font-size: 16px;
					line-height: 18px;
					font-weight: $bold;
					color: $cor1;
					display: flex;
					align-items: center;
					cursor: pointer;
					@include box-sizing;
					@include animacao;

					&.active {
						background-color: $cor1;
						color: #ffffff;
					}
				}

				p {
					padding: 15px 15px 30px;
					display: none;
				}
			}
		}
	}
}


.content-txt {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0px 60px 0 0;
	@include box-sizing;

	&.page-padrao {
		padding: 0;

		&.content-center {
			align-items: center;
			height: 100%;
			flex-direction: row;
			padding-right: 60px;
		}
	}

	@include media(1280){
		
	}

	@include media(1080){
		
	}

	@include media {
		padding: 0;
	}

	a:not(.btn) {
		text-decoration: underline;
	}

	p {
		color: #959595;
		font-size: 16px;
		line-height: 22px;
		font-weight: $regular;
		margin-bottom: 45px!important;

		&:last-child {
			margin-bottom: 0!important;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-family;
		padding-bottom: 20px;
		padding-top: 10px;
	}

	h2 {
		font-size: 3rem;
		line-height: 3rem + .5rem;
	}

	h3, h4, h5, h6 {
		font-weight: $bold;
		color: $cor1;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 26px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	ol, ul {
		margin-bottom: 45px;
		padding-left: 20px;

		li {
			font-style: 18px;
			line-height: 24px;
			padding: 5px 0;
			font-weight: $regular;
			color: $cor1;
		}
	}

	ul {
		li {
			list-style: disc;
		}
	}

	ol {
		li {
			list-style: decimal;
		}
	}

	iframe {
		width: 100%;
		height: 480px;
	}

	.wp-block-image { 
		margin-bottom: 60px;

		img	{
			width: 100%;
			height: auto;
			border-radius: 10px!important;
			overflow: hidden;
			@include box-sizing;
		}

		figcaption {
			margin: 50px 0;
		}
	}

	&--perfil {		
		.sub-titulo {
			font-weight: $light;
			text-align: center;
		}

		h2 {
			text-align: center;
			margin-bottom: 20px;
		}

		p {
			text-align: center;
		}
	}
}

.shortcode {
	form {
		max-width: 400px;
		width: 100%;

		input, button {
			height: 42px;
			margin: 3px 0;
		}

		button, input[type='submit'], input[type='button'] {
			background-color: $cor4;
			border-color: $cor4;
			border-radius: 22px;
			font-weight: $bold;

			&:hover {
				background-color: $cor3;
				border-color: $cor3;
			}
		}
	}
}

.clear {
	@include clear;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-bottom-col {
	margin-bottom: 2*$padding-col;
}